{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block extraMeta %}
    {% endblock %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Doc{% endblock %}</title>
</head>
<body style="zoom:90%">

    {% block nav %}
    <div class="navbar-fixed" style="z-index: 9999">
      <nav >
        <div class="nav-wrapper red darken-3">
            <div class="container">

                <a href="" class="brand-logo white-text"><i class="material-icons" style="font-size:30px">library_books</i> Palerp</a>
                <a href="" data-target="mobile-demo" class="sidenav-trigger white-text"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                      <li><a class="white-text active" href="{% url 'usuario' %}"><strong>{{ user.get_username|upper }}</strong></a></li>
                    {% endif %}
                    <li><a class="white-text" href="{% url 'index' %}">Inicio</a></li>
                    <li><a class="white-text" href="{% url 'nosotros' %}">Nosotros</a></li>
                    <li><a class="white-text" href="{% url 'productos' %}">Productos</a></li>
                    <li><a class="white-text" href="{% url 'tienda' %}">Tienda</a></li>
                    <li><a class="white-text" href="{% url 'contactanos' %}">Contacto</a></li>
                    <li><a class="white-text" href="{% url 'clientes' %}">Clientes</a></li>
                    {% if user.is_authenticated %}
                      <li><a class="white-text" href="{% url 'logout' %}">Cerrar sesion</a></li>
                    {% else %}
                      <li><a class="white-text" href="{% url 'login' %}">Iniciar Sesion</a></li>
                    {% endif %}
                </ul>
                <ul class="sidenav" id="mobile-demo" >
                    {% if user.is_authenticated %}
                      <li><a class="grey-text text-darken-3" href="{% url 'usuario' %}"><strong>{{ user.get_username|upper }}</strong></a></a></li>
                    {% endif %}
                    <li><a class="grey-text text-darken-3" href="{% url 'index' %}">Inicio</a></li>
                    <li><a class="grey-text text-darken-3" href="{% url 'nosotros' %}">Nosotros</a></li>
                    <li><a class="grey-text text-darken-3" href="{% url 'productos' %}">Productos</a></li>
                    <li><a class="grey-text text-darken-3" href="{% url 'tienda' %}">Tienda</a></li>
                    <li><a class="grey-text text-darken-3" href="{% url 'clientes' %}">Clientes</a></li>
                    <li><a class="grey-text text-darken-3" href="{% url 'contactanos' %}">Contacto</a></li>

                    {% if user.is_authenticated %}
                      <li><a class="grey-text text-darken-3" href="{% url 'logout' %}">Cerrar sesion</a></li>
                    {% else %}
                      <li><a class="grey-text text-darken-3" href="{% url 'login' %}">Iniciar Sesion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
      </nav>
    </div>
    <div class="btnLlamanos hide-on-small-only" style="display: inline-block;">
      <a class=" right waves-effect waves-light btn red-text text-darken-3 modal-trigger white" href="#modal1"><strong><i class="material-icons left">phone</i> Llamanos</strong></a>

    </div>
    <div class="btnLlamanosSmall hide-on-med-and-up" style="display: inline-block;">
      <a class=" right waves-effect waves-light btn red-text text-darken-3 modal-trigger white" href="#modal1"><strong><i class="material-icons">phone</i></strong></a>

    </div>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <div class="" id="modalTelefono">
          <p class="right-align">
            <a class="modal-action modal-close waves-effect waves-light btn red darken-3"><i class="material-icons">close</i></a>
          </p>
          <h2 class="center-align">Llamanos!</h2>
          <hr>
          <p class="center-align">Introduce tu numero de telefono para comunicarnos. NOTA : Esta llamada NO tendra ningun cargo monetario es totalmente gratis.</p>
          <hr>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">phone</i>
                  <input id="telefono" type="tel" class="validate">
                  <label for="telefono">Telephone</label>
                </div>
              </div>
            </form>
          </div>
          <h6 class="right-align">
            <button class="btn waves-effect waves-light green" id="btnLlamar">Llamar
              <i class="material-icons right">phone</i>
            </button>
          </h6>

        </div>
        <div class="hide" id="modalCargando">
          <h2 class="center-align green-text">Llamando a Palerp</h2>
          <h6 class="center-align"><div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div></h6>
          <p class="center-align">Marcando...</p>
          <h5 class="center-align"><a class="modal-action modal-close waves-effect waves-light btn red darken-3">Cancelar llamada</a></h5>
        </div>
        <div class="hide" id="modalError">
          <h5 class="center-align"><img src="{% static 'images/notok.png' %}" height="200"/></h5>
          <h4 class="center-align">Lo sentimos usted no cuenta con saldo sufuciente para realizar este tipo de llamandas.</h4>
          <h5 class="center-align"><a class="waves-effect waves-light btn red darken-3" href="{% url 'index' %}">Volver al inicio</a></h5>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer class="page-footer red darken-3">
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h4 class="white-text"><a class="white-text" href="{% url 'contactanos' %}">Informacion de Palerp</a></h4>
                <p><a href="{% url 'contactanos' %}" class="white-text"><i class="material-icons left" >location_on</i>Calle SacsayHuaman F - 12 Urb. Manuel Prado - Cusco</a></p>
                <p><a class="white-text" href="{% url 'contactanos' %}"><i class="material-icons left" >email</i>info@palerp.com</a></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h4 class="white-text"><a class="white-text" href="{% url 'contactanos' %}">Telefonos</a></h4>
                <ul>
                <li><a class="white-text" href="#!"><i class="material-icons left">local_phone</i>(084) 28-76-41</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright
            </div>
        </div>
    </footer>
    {% endblock %}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

    <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
    $(document).ready(function(){
    $('.modal').modal({
      onCloseEnd: function (){
        var modalTelefono = document.getElementById('modalTelefono')
        var modalCargando = document.getElementById('modalCargando')
        var modalError = document.getElementById('modalError')
        modalTelefono.classList.remove('hide')
        modalCargando.classList.add('hide')
        modalError.classList.add('hide')
      },
      dismissible: false,
    });
  });

    var btnLlamar = document.getElementById('btnLlamar')
    btnLlamar.addEventListener('click', function (){
      if(document.getElementById('telefono').value != ''){
        var modalTelefono = document.getElementById('modalTelefono')
        var modalCargando = document.getElementById('modalCargando')
        var modalError = document.getElementById('modalError')
        modalTelefono.classList.add('hide')
        modalCargando.classList.remove('hide')

        setTimeout(function () {
          if(modalTelefono.classList.contains('hide')){
            modalCargando.classList.add('hide')
            modalError.classList.remove('hide')
          }
        },3000)
      }
    })
    </script>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '194411797951485',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.12'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    {% block extrajs %}
    {% endblock %}
</body>
</html>
